@{
    var cartItems = ViewBag.CartItems as Dictionary<CartItemDto, int>;
}
<section class="d-flex flex-column gap-3">
    @if (cartItems is not null && cartItems?.Count() > 0)
    {
        <div class="row d-flex flex-column gap-2">

            @foreach (var cartItem in cartItems)
            {
                <div class="row product-row border p-2 rounded" id="product_row_@cartItem.Key.Id">
                    <div class="col-12 col-md-2">
                        <div class="img-wrapper" style="width: 150px; height:150px; overflow: hidden;">
                            <img class="img-fluid rounded" src="@cartItem.Key.ImageUrl" alt="@cartItem.Key.ProductName" />
                        </div>
                    </div>
                    <div class="col-12 col-md-10 d-flex flex-row">
                        <div class="col-6 col-md-4">
                            <a class="fs-3" asp-controller="Shop" asp-action="Detail"
                                asp-route-id="@cartItem.Key.ProductSlug">@cartItem.Key.ProductName</a>
                            <h6>Danh mục: @cartItem.Key.CategoryName</h6>
                            <p>@cartItem.Key.IsVariant</p>
                            @if (cartItem.Key.IsVariant && cartItem.Key.Variants is not null && cartItem.Key.Variants.Count > 0)
                            {
                                <div class="d-flex flex-row gap-1">
                                    @foreach (var variant in cartItem.Key.Variants)
                                    {
                                        <button class="btn btn-small btn-black hvr-sweep-to-right rounded">@variant</button>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-6 col-md-4 d-flex flex-row">
                            <div class="col-6">
                                <div class="row"></div>
                                <div class="form-group w-50">
                                    <label class="fw-bold" for="input_quantity_{@cartItem.Key.Id}">Số lượng</label>
                                    <input type="number" id="input_quantity_{@cartItem.Key.Id}" class="form-control text-center"
                                        step="1" min="1" name="quantity" value="@cartItem.Value">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group d-flex flex-column">
                                    <label class="fw-bold">Giá</label>
                                    <label class="py-2">@Function.FormatVnd(cartItem.Key.Price)</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group d-flex flex-column align-items-end justify-content-between">
                                <div class="d-flex flex-column flex-1">
                                    <label class="fw-bold">Thành tiền</label>
                                    <label class="py-2">@Function.FormatVnd(cartItem.Key.Price)</label>
                                </div>
                                <button type="button" data-product-id="@cartItem.Key.Id"
                                    class="btn btn-small btn-black rounded hvr-sweep-to-right remove-item-cart-btn">Xoá</button>
                            </div>
                        </div>
                    </div>
                    <input hidden name="product_id" value="@cartItem.Key.Id">
                    <input hidden name="product_price" value="@cartItem.Key.Price">
                    <input hidden name="product_quantity" value="@cartItem.Value">
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4"></div>
            <div id="total_wrapper" class="col-12 col-md-4 d-flex flex-column align-items-end">
                <div class="d-flex flex-column gap-2">
                    <h5 class="text-end">Tổng tiền</h5>
                    <h4 class="text-xl" id="total"></h4>
                </div>
            </div>
            <div id="empty_cart"
                class="hidden col-12 col-md-4 w-100 d-flex flex-column align-items-center justify-content-center">
                <h5>Bạn không có sản phẩm nào trong giỏ cả!!!</h5>
            </div>
        </div>

        <div class="row d-flex justify-content-end p-2">
            <div class="col text-center">
                <a type="button" id="checkoutBtn" class="btn btn-outline-gray hvr-sweep-to-right dark-sweep"
                    asp-action="Checkout" asp-controller="Cart">Thanh
                    toán</a>
            </div>
        </div>
    }
    else
    {
        <div class="col-12 col-md-4 w-100 d-flex flex-column align-items-center justify-content-center">
            <h5>Bạn không có sản phẩm nào trong giỏ cả!!!</h5>
        </div>
    }
</section>
@section Scripts {
    <script src="~/js/cart/cart.js"></script>
}