@using Microsoft.AspNetCore.Identity
@using fashion_shop.Core.DTOs.Requests.Admin
@using fashion_shop.Core.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var product = ViewBag.ProductDetail as ProductDto;
}

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="rounded-4 d-flex justify-content-center">
                    <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                        src="@product?.ImageUrl" />
                </div>
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @product?.Name
                    </h4>

                    <div class="d-flex flex-row align-items-end">
                        <div class="d-flex flex-row gap-3 align-items-end">
                            <span class="h5">Giá bán:</span>
                            <span class="h4 text-bold" id="product_variant_price"></span>
                        </div>
                        <span class="text-muted">/Cái</span>
                    </div>

                    <hr />

                    @if (product?.IsVariant is not null && product.IsVariant)
                    {
                        @if (product?.ProductVariants is not null && product?.ProductVariants.Count > 0)
                        {
                            <div class="d-flex flex-column">
                                @foreach (var productVariant in product.ProductVariants)
                                {
                                    <div class="product-variant" data-product-variant-priority="@productVariant.Priority">
                                        <span>@productVariant.Name</span>
                                        <div class="d-flex flex-row gap-2">
                                            @foreach (var variant in productVariant.Variants)
                                            {
                                                <button data-variant-code="@variant.Code"
                                                    data-variant-priority="@productVariant.Priority"
                                                    class="variant-btn btn hvr-sweep-to-right icon-hover border rounded">
                                                    @variant.Value
                                                </button>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (product?.ProductItems is not null && product.ProductItems.Count > 0)
                        {
                            @foreach (var productItem in product.ProductItems)
                            {
                                <input type="hidden" id="@productItem.Code" value="@productItem.Id" data-code="@productItem.Code"
                                    data-price="@productItem.Price" />
                            }
                        }
                    }
                    <hr />

                    <div class="w-100 py-3">
                        @product?.Description
                    </div>

                    <hr />
                    @* <a href="#" class="btn btn-warning shadow-0 hvr-sweep-to-right"> Buy now </a> *@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a data-product-id="@product?.Id" class="btn btn-black shadow-0 add-to-cart-btn hvr-sweep-to-right">
                            <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                        </a>
                    }
                    @* <a href="#" class="btn btn-light hvr-sweep-to-right border border-secondary icon-hover px-3">
                        <i class="me-1 fa fa-heart fa-lg"></i> Save </a> *@
                </div>
            </main>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/shop/productDetail.js"></script>
}
<style>
    .btn-active {
        background-color: rgb(104, 104, 104);
        color: #fff;
    }
</style>
