@{
    var categories = ViewBag.Categories as List<CategoryDto>;
    var products = ViewBag.Products as List<ProductDto>;
    var currentCategorySlug = Context.Request.Query["categorySlug"].ToString();
    var meta = ViewBag.Meta;
}

<section>
    <div class="row">
        <div class="col-md-3">
            <div class="py-3">
                <input type="text" class="form-control" placeholder="Search items">
            </div>
            <div class="bg-light rounded">
                <h5>Danh mục</h5>
                @if (categories is not null && categories.Count > 0)
                {
                    <div class="d-flex flex-column">

                        @foreach (var category in categories)
                        {
                            var isActive = category.Slug == currentCategorySlug;
                            var btnClass = isActive
                            ? "btn btn-danger text-white fw-semibold"
                            : "btn btn-outline text-hover btn-search-by-category";

                            <button type="button" class="@btnClass" data-category-slug="@category.Slug">
                                @category.Name
                            </button>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row g-2">
                @if (products is not null && products.Count > 0)
                {
                    <!-- Product Item -->
                    @foreach (var product in products)
                    {
                        <div class="col-md-4">
                            <div class="position-relative border p-3 rounded justify-content-between d-flex flex-column h-100">
                                <div class="flex-grow-1 jarallax-keep-img">
                                    <img src="@product.ImageUrl" class="h-100 img-fluid jarallax-img" alt="@product.Name">
                                </div>
                                <div class="d-flex flex-column">
                                    <a class="text-muted mb-1 mt-2"
                                        href="/shop/detail/@Uri.EscapeDataString(product.Slug)">@product.Name</a>
                                    <h6 class="fw-semibold">@product.CategoryName</h6>
                                    <div>
                                        <span class="text-danger fw-bold">@Function.FormatVnd(product.Price)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @await Html.PartialAsync("Partials/_PaginationPartial", (object)ViewBag.Meta)

        </div>
    </div>

</section>
@section Scripts {
    <script src="~/js/shop/index.js"></script>
}